

  .nav-links3 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 50px;
    text-align: center;
   
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
  }
  .nav-links3 {border-radius: 100%;}

  .MenuHeadline{
    color: #9c7874;
    text-transform:capitalize;
    font-style: italic;
    justify-self: start;
    margin-left: 2%;
    
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
  }

  .LogoToHomepage {
    /*color: rgba(255, 255, 255, 0.988);*/
    color: #0f0a0a;
    justify-self: start;
    margin-left: 28%;
    margin-top: 1%;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }